.btn {
  height: 50px;
  width: 50px;
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: x-large;
  margin-bottom: 10px;
  margin-left: 8px;
  margin-right: 8px;
  border: 0px;
  cursor: pointer;
}
.out{
  color: white;
  width: 250px;
  height: 40px;
  font-size: 25px;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: black;
  border: 1px solid white;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: right;
}
.func{
  background-color: orange;
  color: white;
}
.numbers{
  background-color: rgb(51, 49, 49);
  color: white;
}
.other{
  background-color: rgb(157, 156, 156);
}
#tbl{
  background-color: rgb(5, 5, 5);
  border-radius: 10px;
}
